
{{ form.media }}
<form enctype="multipart/form-data" method="post" action="{% url "addmap" %}" >
            {% csrf_token %}
                {{ form.point }}
    <div id="label">{{ form.label }}</div>
    <div id="shared_with">
        <h5 style="text-align: center; border-bottom: 1px solid #979797; padding: 0; margin: 8px">Share With</h5>
        {{ form.shared_with }}
    </div>
            <input id="submit" type="submit" value="Submit"/>
        </form>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">